<!DOCTYPE html>
<html>
<head>
	<title>INVIDEV</title>
</head>
<body>
	<div class="home-callout text-center container-fluid">
		<h1> Welcome to InviDev</h1>
		<h3>Home where investors and developers mingle</h3>
	</div>

</body>

</html>